@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --dorado1--: rgb(96, 53, 18);
    --dorado2--: rgb(200, 150, 41);
    --dorado3--: rgb(250, 242, 144);
    --negromate--: #0000;
    --negro1--: #020403;
    --negro2--: #212121;
    --complemento--: #D3d3d3;
    --blanco: #ffff;
    --rojo: red;
    --transparente-gris: rgba(255,255,255, 0.20);
    --fuente: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--fuente);
    outline: none;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #151515bb;
  }


@media (max-width: 1080px){
    body{
      max-width: 100%;
      overflow-x: hidden;
    }
  }


/* Codigo */
header{
    height: 15vh;
    width: 100vw;
    /*background-image: url(https://cadenaser00.epimg.net/programa/imagenes/2016/10/24/la_script/1477303128_773178_1477304576_noticia_normal.jpg);
    background-size: cover; */
    background-color: #1C1C1C;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px; /* altura deseada del navbar */
    background-color: #333; /* color de fondo deseado */
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar a{
    color: var(--blanco);
}
/*
.navbar .logo{
    font-size: 2rem;
    font-weight: bold;
}*/

.logo {
    width: 240px; /* ancho deseado del logotipo */
    height: 130px; /* altura deseada del logotipo */
    margin-right: 20px; /* margen derecho para separarlo de los enlaces */
  }

  .logotipo{
    width: 100%;
    height: 100%;
  }

.navbar .nav-links ul{
 display: flex;

}

.navbar .nav-links ul li{
    margin: 0 25px;
    font-size: 1.5em;
}

.navbar .nav-links ul li.active a{
 color: var(--rojo);
 font-weight: 100;
}

.navbar .menu-hamburger{
 display: none;
 position: absolute;
 top: 50px;
 right: 30px;
 width: 35px;
}

.menu-hamburger{
    cursor: pointer;
}


/* slider */

.text{
    text-transform: uppercase;
  }

  .contenedor{
    position: relative;
    top: -0.1rem;
  }

  .contenedor .slider-container .slide{
    min-height: 89vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
  }


  .contenedor .slider-container .slide video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation:fadeIn .4s linear;
  }

  @keyframes fadeIn {
    0%{
      transform: scale(1.5);
    }
  }

  .contenedor .slider-container .slide .content{
    min-height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: rgba(23, 22, 22, 0.735);
    color: var(--blanco);
    text-align: center;
    margin-top: 3rem;
  }

  .contenedor .slider-container .slide .content h3{
    margin-top: 50px;
    font-size: 5vw;
    color: var(--blanco);
    text-shadow: 0px 5px 10px rgba(0,0,0,.3);
    animation: animate .4s linear .4s backwards;

  }

  .contenedor .slider-container .slide .content p{
    font-size: 1.2rem;
    color: var(--blanco);
    padding: 20px 0;
    font-weight: lighter;
    text-shadow: 0px 5px 10px rgba(0,0,0,.3);
    max-width: 900px;
    animation: animate .4s linear .6s backwards;
    margin-top: 5px;
  }

  @media (max-width: 428px){
    .contenedor .slider-container .slide .content p{
      font-size: 1rem;
      max-width: 300px;
      margin-top: 5px;
    }

  }
  .contenedor .slider-container .slide .content .btn{
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
    transition: .2s linear;
    z-index: 5;
    cursor: pointer;
    animation: animate .4s linear 1s backwards;
  }

  .contenedor .slider-container .slide .content .btn:hover{
    letter-spacing: 2px;
  }

  @keyframes animate{
    0%{
      opacity: 0;
      transform: scale(.5) translateY(-50px);
    }
  }

  .contenedor .slider-container{
    display: none;
  }

  .contenedor .slider-container.active{
    display: block;
  }


  .contenedor #next,
  .contenedor #prev{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 100;
   background: none;
   color: rgb(255, 253, 253);
   font-weight: bold;
   height: 60px;
   width: 50px;
   line-height: 55px;
   font-size: 40px;
   cursor: pointer;
   text-align: center;
  }



  .contenedor #next:hover,
  .contenedor #prev:hover{
    background: rgb(0, 0, 0);
  }


  .contenedor #next{
   right: 0;
   z-index: 1;
  }

  .contenedor #prev{
    left: 0;
    z-index: 1;
   }

  /* .title{
    text-align: center;
    color: var(--blanco);


   }*/


   /* carrousel cartelera */
   /* PRODUCTS */
.SectionCarrusel{
    position: relative;
    overflow: hidden;
    padding: 20px;
    width: 90%;
    margin-left: 4%;
    /*margin-top: 20%;*/
    display: flex;
    justify-content: center;
  }

  .SectionCarrusel-Contenedor{
    width: 1145px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 550px;
    margin-left: 7%;

  }

  .SectionCarrusel-Contenedor::-webkit-scrollbar {
    display: none;
  }

  .CartaCarrusel{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin:18.5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5%;
    text-align: center;
    margin-bottom: 10px;
  }

  .card1{
    margin-right: 1%;
  }
  .CartaImagen{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 5% 5% 0% 0%;
  }

  .product-thumb {
    width: 60%;
    object-fit:unset;
  }

  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }

  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }

  .BotonesCarrusel{
    justify-content: center;
    align-items: center;
  }

  .product-card:hover .card-btn {
    opacity: 1;
  }

  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }

  .SectionCarrusel-informacion{
    width: 100%;
    height: 100px;
    margin-top: -10%;
  }

  .CarruselTitulo{
    text-transform: uppercase;
    font-size: 25px;
    margin-top: -20%;
    text-align: center;
  }

  /*.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }*/

  .price {
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-left: -8px;
    color: red;
  }

  .title-carro{
    margin-top: -40%;
  }

  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }

  .pre-btn,
  .nxt-btn {
    border: none;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border-radius: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }

  .pre-btn {
    /*left: 5%;*/
    transform: rotate(180deg);
    font-size: 4rem;
  }

  .nxt-btn {
    right: 6%;
    font-size: 4rem;
  }

  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }

  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }

  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .collection {
    position: relative;
  }

  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }

  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

   /* Testimonios */
   .slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50rem;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ae7d00;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #ae7d00;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ae7d00;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #805f04;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #bb9600;
  }

  .swiper-navBtn{
    color: #bb9600;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #bb9600;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #ae7d00;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #805f04;
  }
  .slide-content__title{
    text-align: center;
    color: #fff;
  }
  .slide-content hr{
    border: 5px solid var(--dorado3--);
    margin-top: -1rem;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
  }


  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-button-next, .swiper-button-prev {
      display: none;
    }
  }

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #252424;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50rem;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;
}

footer .container .sec.about-us{
    width: 40%;
}

footer .container  h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 3px;
    background: var(--dorado2--);
}

footer p{
    color: #999;
    font-weight: 100;
    line-height: 1.5rem;
}

.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover{
   background: var(--blanco);
}

.sci li a .fa{
   color: #fff;
   font-size: 20px;
}

.sci li a:hover .fa{
    color: #000000;
 }

.quick-links{
    position: relative;
    width: 25%;
}

.quick-links ul li{
 list-style: none;
}

.quick-links ul li a{
 color: #999;
 text-decoration: none;
 margin-bottom: 10px;
 display: inline-block;
}

.quick-links ul li a:hover{
    color: #fff;
}

.contact{
 width: calc(35% - 60px);
 margin-right: 0 !important;
}

.contact .info{
    position: relative;
}

.contact .info li{
 display: flex;
 margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color: #999;
}

.contact .info li a{
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover{
 color: #fff;
}

.copyrightText{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;

}

/* Responsive */
@media screen and (max-width: 991px){
  footer{
    padding: 40px;
  }

  footer .container{
    flex-direction: column;
  }

  footer .container .sec{
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer .container .sec.about-us, .quick-links, .contact{
    width: 100%;
  }

  .copyrightText{
    padding: 8px 40px;
}
}

@media screen and (max-width: 900px) {



 .navbar{
    padding: 0;
    position:fixed;
    z-index: 4;
    width: 100%;
 }


 .navbar .logo{
  position: absolute;
  top: 95px;
  left: 30px;
  margin-top: -5.5rem;
}

.logo {
    width: 220px; /* ancho deseado del logotipo */
    height: 130px; /* altura deseada del logotipo */
    margin-right: 20px; /* margen derecho para separarlo de los enlaces */
  }

  .logotipo{
    width: 100%;
    height: 100%;
  }


 .navbar .menu-hamburger{
  display: block;
 }

 .menu-hamburger{
    z-index: 4;
    position: absolute;
 }


 .nav-links{
   top: 0;
   left: 0;
   background-color:#1C1C1C;
  /* backdrop-filter: blur(70px);*/
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: -100%;
   transition: all 0.5s ease;
   z-index: 2;
   position: fixed;
 }

 .nav-links ul{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .nav-links.mobile-menu{
    margin-left: 0;

}

 .navbar .nav-links ul li{
    margin: 25px 0;
    font-size: 1.5em;
}
}


@media screen and (width:768px) {
  header{
    height: 13vh;
    width: 100vw;
  }
}

@media screen and (width: 1024px){
    header{
        height: 10vh;
        width: 100vw;
    }



 .navbar .logo{
  position: absolute;
  top: 45px;
  left: 30px;
}

 .navbar .menu-hamburger{
  display: block;
 }


 .nav-links{
   top: 0;
   left: 0;
   position: absolute;
   background-color:#1C1C1C;
  /* backdrop-filter: blur(70px);*/
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: -100%;
   transition: all 0.5s ease;
 }

 .nav-links ul{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .nav-links.mobile-menu{
    margin-left: 0;

}

 .navbar .nav-links ul li{
    margin: 25px 0;
    font-size: 1.5em;
}
}

